
build --strip=never
build --config=clang
build --crosstool_top=//toolchain:cpp_suite
build --define use_fast_cpp_protos=true
build:clang --compiler=clang
build:gcc --compiler=gcc-11
build:gcc-10 --compiler=gcc-10

build:python-3.8 --@rules_python//python/config_settings:python_version=3.8.10
build:python-3.10 --@rules_python//python/config_settings:python_version=3.10
