
build --strip=never
build --config=clang
build --crosstool_top=//toolchain:cpp_suite
build --define use_fast_cpp_protos=true
build:clang --compiler=clang
build:gcc --compiler=gcc-11
build:gcc-10 --compiler=gcc-10
build:python-3.10 --extra_toolchains=@python3_10_toolchains//:x86_64-unknown-linux-gnu_toolchain --extra_toolchains=@python3_10_toolchains//:x86_64-unknown-linux-gnu_py_cc_toolchain
build:python-3.8 --extra_toolchains=@python3_8_toolchains//:x86_64-unknown-linux-gnu_toolchain --extra_toolchains=@python3_8_toolchains//:x86_64-unknown-linux-gnu_py_cc_toolchain
